node_modules
dist
dist-ssr
.DS_Store
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vite
.turbo

# TypeScript incremental build artifacts
*.tsbuildinfo

# Editor
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
